html,body{
	width: 100%;
	height: 100%;
}
body{
	/*background: blue;*/
	position:relative;
}
.full{
	width: 100%;
	min-width: 1200px;
}
.w{
	width: 1200px;
	margin: 0 auto;
}
.h{
	width: 100%;
	height: 235px;
	margin-bottom:20px ;
}
.container{
	/*border: 1px red solid;*/
}
.containerBox{
	padding: 70px 0;
	background: white;
}
.containerBox-left{
	float: left;
	width: 510px;
	margin-left:95px;

}
.img-list{
	float: left;
	
}
.img-listBox{
	width: 52px;
    height: 420px;
    padding: 20px 0;
    /*overflow: hidden;*/
    position: relative;
    z-index: 10;
    /*border: 1px red solid;*/
}
.img-list-prev{
	width: 50px;
    height: 16px;
    display: block;
    position: absolute;
    background: url(../img/projt.gif) no-repeat;
    cursor: pointer;
    background-position: center -32px;
    top: 2px;
}
.img-list-next{
	width: 50px;
    height: 16px;
    display: block;
    position: absolute;
    background: url(../img/projt.gif) no-repeat;
    cursor: pointer;
    background-position: center -48px;
    /*top: 2px;*/
   left: 0;
   bottom: 0;
}
.img-window{
	width: 54px;
	height: 420px;
	/*border: 1px red solid;*/
}
.list-edit{
	margin-top: 7px;
	height: 62px;
	border: solid 1px transparent;
	text-align: center;
}
.list-edit>img{
	width: 52px;
	height: 62px;
}
.list-edit.select{
	border: solid 1px #ccc
}

/*border: solid 1px #ccc*/
.img-pro{
	float: left;
	/*border: 1px red solid;*/
	margin-left: 20px;
	width: 384px;
	height: 460px;
	
}
.img-pro>img{
	width: 384px;
	height: 460px;
}
.containerBox-right>*{
	margin-bottom: 10px;
}
.containerBox-right{
	float: left;
	/*border: 1px red solid;*/
	padding: 20px 0 0 85px;
    width: 425px;
}
.relative a{
	font-size: 24px;
    display: block;
    color: #333;
    max-width: 361px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.price{
	margin: 20px 0 14px;
}
.price em{
	font-size: 18px;
    font-weight: bold;
}
.pro-color{
	
}
.pro-color>span{
	color:#999;
	float: left;
	width: 55px;
	height: 24px;
	text-align: left;
}
.pro-color>ul{
	float: left;
}
.pro-color>ul>li{
	float: left;
	width: 22px;
    height: 22px;
    background: url(../img/color.gif) no-repeat;
    display: inline-block;
    vertical-align: middle;
}
.size{
	padding: 15px 0;
	/*border: 1px solid red;*/
	margin-bottom: 25px;
}
.size>div{
	/*height: 40px;*/
}
.size>div>span{
	color:#999;
	float: left;
	width: 55px;
	height: 24px;
	text-align: left;
	line-height: 24px;
	/*vertical-align: middle;*/
	margin-top: 10px;
}
.size>div>ul{
	float: left;
	vertical-align: middle;
}
.size>div>ul>li{
	/*float: left;
	border-color: #333;
    background: #333;
    color: #fff;*/
    margin: 5px 5px 5px 0;
    text-align: center;
    float: left;
    display: block;
    background: #fff;
    min-width: 41px;
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
    border: solid 1px #333;
    color: #333;
    border-radius: 2px;
    cursor: pointer;
}
.sizex li.select{
	border-color: #333;
    background: #333;
    color: #fff;*/
}
.size>div.read{
	/*border: 1px solid red;*/
	width: 72px;
	height: 18px;
	margin-left:54px;
	
}
.size>div.read>a{
    color: #999;
    /*margin-top: 5px;*/
    display: inline-block;
    text-decoration: underline;
}

.abbutton{
	margin-top: 20px;
}
.abbutton>button{
	font-size: 14px;
    overflow: hidden;
    color: #fff;
    border: 0;
    cursor: pointer;
    border-radius: 2px;
    width: 152px;
    height: 45px;
    float: left;
}
.buyThis{
	background: #333;
    
}
.addBag{
	background: #c53f40;
    margin-left: 10px;
    
}
.collect,.share{
	border: solid 1px #e8e8e8;
	float: left;
	width: 43px;
    height: 43px;
    margin-left: 10px;
}
.collect a{
	display: block;
	width: 43px;
    height: 43px;
    background: url(../img/pst.gif) 0 -13px no-repeat;
}
.share a{
	display: block;
	width: 43px;
    height: 43px;
    background: url(../img/pst.gif) 0 -56px no-repeat;
}
.statement{
	margin-top: 20px;
    color: #999;
    border-bottom: solid 1px #f5f5f5;
}
.statement span{
	padding: 15px 0;
	display: inline-block;
    
}
.statement span:nth-child(2){
	margin-left: 25px;
}
.containerTwo{
	padding: 0 20px;
	background: white;
	margin-top: 20px;
	/*border: 1px blue solid;*/
	/*height: 200px;*/
	box-sizing: border-box;
	height: 416px;
}
.pubitit{
	height: 63px;
    padding-top: 15px;
    border-bottom: solid 1px #e8e8e8;
}
.tabTitle {
    height: 45px;
    background: url(../img/m.png) no-repeat center left;
    color: #1b1b1b;
    font-size: 14px;
    padding: 0 0 5px 70px;
}
.tabTitle_m {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 4px 0 4px 0;
    color: #999;
}
.tabTitle p {
    line-height: .8;
    color: #666;
    font-size: 12px;
}
.recommendBig{
	margin: 0 24px;
	padding: 20px 40px;
	/*height: 500px;*/
	position: relative;
}
.swiper-container{
	width: 1048px;
	/*border: 1px red solid;*/
	height: 382px;
}
.swiper-slide{
	/*padding-left: 10px;*/
}
.swiper-slide>div{
	width: 160px;
	text-align: center;
	color: #ccc;
}
.swiper-slide>p{
	height: 44px;
	width: 160px;
	text-align: center;
	color: #555;
}
.swiper-slide>a{
	display: block;
}
.swiper-slide>a>img{
	width: 160px;
	height: 192px;
}
.swiper-button-next,.swiper-button-prev{
	outline: none  !important;
}
.containerTwo{
	/*border: 1px red solid;*/ 
}
.pubitit{
	/*border: 1px red solid;*/ 
}
.pro-tab{
	/*border: 1px black solid;*/
	height: 60px;
	margin-top:20px ;
	position: relative;
}
.pro-tab>ul{
	/*width: ;*/
	height: 60px;
	background: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 1200px;
	z-index: 100;
}
.pro-tab>ul>li{
	float: left;
	text-align: center;
	width: 110px;
	height: 100%;
	/*border: 1px red solid;*/
}
.pro-tab>ul>li>a{
	line-height:60px ;
	width: 100%;
	height: 100%;
	display: inline-block;
	font-size: 14px;
}
.pro-tab>ul>li.select a{
	color: #fff;
    background: #505050;
}
#pro-tab-buy,#pro-tab-bag{
	float: right;
	color: white;
	margin-right: 10px;
	height: 50px;
	line-height: 50px;
	margin-top: 5px;
	border-radius:4px;
	display: none;
}
#pro-tab-buy>a{
	background: #333;
	color: white;
	line-height: 50px;
}
#pro-tab-bag>a{
	background: #c53f40;
	color: white;
	line-height: 50px;
}
/*.pro-tab-buy>a,.pro-tab-bag>a{
	
	display: inline-block;
	width: 106px;
    height: 40px;
    padding: 0;
    margin: 10px 10px 0 0;
    border: 1px red solid;
}*/

.ni{
	height: 200px;
	background: red;
}
.tabCod{
	margin-top: 20px;
	/*border: 1px red solid;*/
}
.tabCod-m{
	padding: 0 30px;
    margin-bottom: 20px;
    background: #fff;
}
.pro_pubtit {
    height: 63px;
    padding-top: 15px;
    border-bottom: solid 1px #e8e8e8;
}
.proTableinfo {
    width: 1060px;
    margin: 20px auto 0;
    padding-bottom: 30px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    
}
.proTable th {
    width: 74px;
    padding: 17px 0;
    text-align: left;
    color: #666;
}
.proTable td{
	color: #999;
}
.brand_story{
	padding:40px 0; 
}
.proBrand_l {
    width: 690px;
    font-size: 14px;
    padding: 0 75px 0 45px;
}
.proBrand_l p {
    color: #909090;
}
.proBrand_r {
    width: 330px;
    text-align: center;
    position: relative;
}
.proBrand_r_line {
    position: absolute;
    height: 65px;
    border-right: solid 1px #e8e8e8;
    left: 0;
    top: 25px;
}
.moreBrandCon {
    display: block;
    width: 123px;
    height: 38px;
    line-height: 38px;
    border: solid 1px #e8e8e8;
    border-radius: 3px;
    margin: 15px auto 0;
    background: #fcfcfc;
}
.proImg {
    width: 1110px;
    margin: 0 auto;
}
.proImg li {
    float: left;
    margin: 0 35px 70px 35px;
    font-size: 0;
}
.consult {
    position: fixed;
    right: 0;
    bottom: 100px;
    border: solid 1px #ddd;
    background: #fff;
    z-index: 2;
}
.consult li a {
    display: block;
    width: 58px;
    height: 46px;
    padding-top: 12px;
    border-bottom: solid 1px #ddd;
    
}
.consult li em {
    display: block;
    width: 35px;
    height: 35px;
    background: url(../img/consult.png) no-repeat;
    margin: 0 auto;
}
.consultApp li a{
	position: relative;
}
.consult li a:hover{
	
    background: #666;

}

.consult_app_m {
    position: absolute;
    top: -17px;
    left: -99px;
    padding-right: 10px;
    z-index: 2;
    display: none;
}
.consultApp:hover .consult_app_m{
	display: block;
	
}
.consult_app_sj {
    width: 8px;
    height: 17px;
    background: url(../img/headico.png) -97px -3px no-repeat;
    position: absolute;
    z-index: 2;
    top: 38px;
    right: 3px;
}
.consult_app_code {
    padding: 10px;
    background: #fff;
    border: solid 1px #ececec;
    font-size: 0;
}
.consult .consultOline em{
	 /*background: url(../img/consult.png)*/
	background-position:0 -70px;
}
.consultOline a:hover em{
	background-position:-35px -70px;
}

.consult .consultQQ em{
	background-position:0 -35px ;
}
.consult .consultQQ a:hover em{
	background-position:-35px -35px ;
}

.consult .consultTop em{
	background-position:0 -105px ;
}
.consult .consultTop a:hover em{
	background-position:-35px -105px ;
}

/*.consultOline em{}*/
.consultApp a:hover em{
	background-position:-35px 0px ;
}


.headerBig{
	margin-bottom:20px;
	background: white;
}
.header{
	background: #fafafa;
	border-bottom:1px solid #f5f5f5;
	height: 35px;
	/*color: red;*/
}
.headerBoxOne{
	/*border: 1px red solid;*/
	height: 100%;
}
.headerBoxOne *{
	color: #555;
}
.headerBoxOne>ul{
	margin-top: 8px;
}
.headerBoxOne-left{
	float: left;
	
}
.headerBoxOne-left>li{
	float: left;
}
.headerBoxOne-left>li:first-child em{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/headico.png) no-repeat;
	background-position:0 0;
	/*background-size:100% 100% ;*/
	vertical-align: middle;
	
}
.headerBoxOne-left>li:first-child>span{
	vertical-align: middle;
}
.downApp{
	margin-left: 20px;
	border-left:1px solid #d9d9d9;
	cursor: pointer;
	position: relative;
}

.downApp em{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/headico.png);
	background-position:-20px 0;
	vertical-align: middle;
	margin-left: 15px;
	
}
.downApp:hover .scanCode{
	display: block;
}
.scanCode{
	/*border: 1px red solid;*/
	position: absolute;
	padding-top:7px;
	top: 20px;
	left: 20px;
	display: none;
}

.downApp a{
	vertical-align: middle;
}
.header-sj{
	width: 17px;
	height: 8px;
	background: url(../img/headico.png) no-repeat;
	background-position:-80px -12px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -9px;
	z-index: 2;
}
.AppCode{
	text-align: center;
	background: #fff;
    padding: 10px 10px 3px 10px;
    border: solid 1px #ececec;
    position: relative;
    z-index: 1;
}
.AppCode img{
	margin-bottom: 6px;
}
.headerBoxOne-right{
	float: right;
	/*border: 1px black solid;*/
}

.headerUser{
	/*border: 1px red solid;*/ 
	float: left;
	position: relative;	
}
.headerUser>span>a{
	vertical-align: middle;
	display: inline-block;
}
.headerUser>span>em{
	display: inline-block;
	width: 11px;
	height: 6px;
	background: url(../img/headico.png) -80px 0 no-repeat;
	vertical-align: middle;
}
.headerUser:hover .headerInfo{
	display: block;
}
.headerInfo{
	/*border: 1px solid red;*/ 
	display: none;
	position: absolute;
	margin-top: 7px;
	top: 18px;
	left: 50%;
	margin-left: -48px;
	z-index: 10;
}
.headerInfo .header-sj{
	/*border: 1px red solid;*/
	position: absolute;
	top: -6px;
	left: 50%;
	margin-left: -9px;
	
}
.headerInfo>ul{
	background: #fff;
    width: 50px;
    padding: 0 18px;
    border: solid 1px #ececec;
    /*position: absolute;*/
}
.headerInfo a{
	display: block;
    border-bottom: solid 1px #ebebeb;
    padding: 6px 0;
    text-align: center;
}
.headerBag{
	float: left;
	margin-left: 18px;
    padding-left: 20px;
    border-left: solid 1px #d9d9d9;
    position: relative;
    /*border: 1px red solid;*/
}
.headerBag:hover .headerBag-box{
	display: block;
}
.headerBag>span{}
.headerBag>span>a{
	display: inline-block;
}
.headerBag>span>a>em{
	vertical-align: middle;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/headico.png) -40px 0 no-repeat ;
}
.headerBag>a>span{
	vertical-align: middle;
	
}
.shopBag-m {
    width: 383px;
    position: absolute;
    top: 17px;
    left: -256px;
    z-index: 666;
    padding-top: 7px;
    display: none;
}
.shopBag-m>.header-sj {
    width: 17px;
    height: 8px;
    background: url(../img/headico.png) -80px -12px no-repeat;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 82%;
    margin-left: -9px;
}
.shopBag-m-info{
    background: #fff;
    border: solid 1px #e8e8e8;
}
.headerCproN{
	/*border: 1px red solid;*/
    text-align: center;
    padding: 30px 0;
}
.headerBag-box{
	display: none;
	width: 383px;
    position: absolute;
    top: 18px;
    left: -276px;
    z-index: 666;
    padding-top: 7px;
	
}
.headerBag-box .header-sj{
	/*border: 1px red solid;*/
	position: absolute; 
	top: 0px;
	left: 88%;
	margin-left: -9px;
	
}
.headerBag-boxOne{
	background: #fff;
    border: solid 1px #e8e8e8;
}
.headerBag-boxOne>span{
	padding: 20px 20px 5px 20px;
    color: #999;
    display: block;
}
.headerCmt{
	padding-left:20px;
	/*border: 1px red solid;*/
}
.headerCmt1{
	padding-right: 30px;
    margin-right: 30px;
    position: relative;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.headerCmt1img{
	float: left;
	/*border: 1px red solid;*/
}
.headerCmt1img>a{
	display: inline-block;
}
.headerCmt1Details{
	float: left;
	/*border: 1px red solid;*/
	margin-left: 10px;
	
}
.headerCmt1Details>span{
	/*display: block;*/
}
.headerCmt1Details>span:first-child{
	font-size: 14px;
	color: #666;
	display: block;
}
.headerCmt1Details>span:nth-child(2){
	color: #999;
	margin-bottom:5px ;
	display: block;
}
.headerCmt1Details>span:nth-child(3){
	margin-right:10px;
	color: #333;
}
.headerCmt1Details>span:nth-child(4){
	/*margin-right:10px;*/
	color: #999;
}
.headerCmlDel{
	font-size: 14px;
    position: absolute;
    right: 0;
    top: 20px;
    color: #ccc;
    cursor: pointer;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.headerCopt{
	background: #f7f7f7;
    padding: 15px;
    /*border: 1px red solid;*/
}
.money{
	color:#e8203b;
	font-size: 14px;
}
.headerCprice{
	float: left;
	margin-top: 12px;
}
.headerCmtBuy{
	display: inline-block;
	float: right;
	width: 114px;
	height: 42px;
	text-align: center;
	line-height: 42px;
	font-size: 14px;
	background: #333333;
	color: white;
}
.header-middle{
	/*border: 1px red solid;*/
	position: relative;
}
.header-logo{
	width: 246px;
	padding-top: 35px;
	margin: 0 auto;
}
.header-search{
	position: absolute;
	right: 0;
	top: 45px;
	/*border: 1px red solid;*/
}
.header-search>.int{
	/*border: 1px red solid;*/
	padding: 0;
	line-height: 29px;
	float: left;
	width: 165px;
	height: 29px;
	border-bottom: solid 1px #e8e8e8;
	
}
.int input:focus+.sch_hot_kwd{
	display: block;
}
.sch_hot_kwd{
	width: 193px;
    border: 1px solid #e8e8e8;
    background: #fff;
    position: absolute;
    top: 29px;
    left: 0;
    z-index: 10000;
    display: none;
}
.sch_hot_kwd>li:hover{
	background: #f5f5f5;
}
.sch_hot_kwd a{
	display: block;
    padding: 1px 3px;
    height: 20px;
    overflow: hidden;
    line-height: 20px;
   
}
.sch_hot_kwd i{
	color: #ccc;
    font-size: 10px;
    float: right;
}
.sch_hot_kwd span{
	 color: #333;
	 
}
.header-searchBtn{
	width: 20px;
    height: 30px;
    border: none;
	float: left;
	background: url(../img/headico.png) -60px 0 no-repeat;
	outline: none;
}
.header-nav{
	padding-top: 10px;
	position: relative;
}
.header-nav * a{
	    color: #666;
}
.header-nav-title>li{
	/*border-bottom:1px black solid;*/
	float: left;
	position: relative;
}
.header-nav-title>li>a{
	display: block;
    width: 133px;
    padding: 15px 0 25px 0;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    
}
/*.header-nav-title>li:hover em{
	
	opacity: 1;
}*/
.header-nav-title>li:hover em{
	opacity: 1;
}
.header-nav-title>li em{
	opacity: 0;
	width: 22px;
    height: 12px;
    background: url(../img/amt_tit.gif) no-repeat;
    top: 47px;
    left: 50%;
    margin-left: -11px;
    position: absolute;
    z-index: 16;
    transition: all 0.5s;
}
.hnsTit {
    font-weight: bold;
}
.header_nav_sel.select{
	display: block;
}
.header_nav_sel {
    position: absolute;
    width: 100%;
    top: 67px;
    z-index: 15;
    display: none;
    
}
.header_nav_sel_m {
    width: 100%;
    padding: 25px 0 65px 0;
    text-align: center;
    background: #fff;
    border-top: solid 1px #e8e8e8;
    opacity: 0.95;
}
.header_nav_sel_m ul {
    display: inline-block;
    width: 200px;
    margin: 0 30px;
    text-align: left;
    vertical-align: top;
    position: relative;
}
.header_nav_sel_m ul li {
    padding: 7px 0;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
.headerShadow{
	width: 100%;
	height: 8px;
	background: url(../img/headerbg.png);
}